*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
}
.bmi-calculator{
    width: 800px;
    height: 500px;
    padding: 20px;
    background-color:azure;
    border-radius: 7px;
    box-shadow: o o 10px rgba(0,0,0,0.1);
    display: flex;
}
.box{
    width: 350px;
    background-image: url('/images/bmi.jpg');
    background-repeat: no-repeat;
    background-position: center;
}
.data{
    flex: 1;
    padding: 15px;
}
h1{
    font-weight: 500;
    padding: 10px 8px;
    text-transform: uppercase;
    font-size: 22px;
    color: #2980b9;
}
input-container{
    margin-bottom: 15px;
}
label{
    display: block;
    margin-bottom: 5px;
    color: #888;
}
input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 4px;
    font-size: 18px;
}
button{
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 20px;
cursor: pointer;
transition: background-color 0.3s;
}
button:hover{
    background-color: #2980b9;
}
.result {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #3498db;
    border-radius: 4px;
}
.result p {
    margin: 10px 0;
    color: #555;
}
.result p:first-child {
    color: #3698db;
    font-weight: bold;
}
.error{
    color: red;
    font-size: 14px;
    margin-bottom: 12px;
}