*{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.currency-converter{
    width: 400px;
    background-color: #f9f6ee;
    border-radius: 8px;
    padding: 10px 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
h1{
    font-weight: 600;
    text-transform: uppercase;
    font-size: 20px;
    padding: 10px 0px;
    margin-bottom: 15px;
   color: #3498db; 
   text-align: center;

}
.box{
    width: 100%;
    height: 200px;
    background-image: url('/images/currency.jpg');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}
label{
    display: block;
    margin-bottom: 5px;
    color: #888;
    font-weight: 500;
}
input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 18px;
    outline: none;
}
input:focus, select:focus {
    border-color: #3498db;
}
.result{
    margin: 20px 0px;
    padding: 10px;
    border: 2px dotted #3498db;
}
.result p {
    margin: 10px 0;
    color: #3498db;
    font-weight: bold;
    text-align:center;
}