*{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.digital-clock {
    width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 7px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    
}
h1{
    color: orangered;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 15px;
}
.time {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 50px;

}
.date{
    color: gray;
    font-size: 22px;
}